.panel{
	background:url("http://vkassets.sinaapp.com/web/test.png") no-repeat center right; overflow:hidden;
	h3{margin-bottom:10px; .text-muted{color:#999; font-size:12px; font-weight:normal;}}
	.item{
		display:inline-block!important; min-width:20px; padding:0 10px; line-height:30px; margin:5px;
		text-align:center; cursor:pointer; box-shadow:0 3px 15px #999;
	}
}

.J_handleBtn b{font-weight:normal;}